
@media screen and (max-width: 560px) {
  *{
    font-family: "Edu NSW ACT Cursive", cursive;
  }
  .nav_search{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .animation{
    padding: 18px;
  }

  .toplanto, .plant_logo {
    display: none !important;
  }
  .Plants2{
    flex-direction: column-reverse;
  }
}

 
